/* src\components\category\categoryform\AddCategory.css */

.add-category , .add-section , .add-product-type{
    margin: 55px 0px;
    text-align: center;
}
/* input[type="text"] {
    margin-right: 10px !important;
} */
.form-title{
    margin-bottom: 5px;
}

select {
    display: block;
    margin-top: 8px;
    margin-bottom: 7px;
    padding: 8px;
}