.Export-button{  background-color: #007bff;  color: white;  padding: 10px 20px;  border: none;  border-radius: 5px;  cursor: pointer;  font-size: 15px;  width: 12%;  margin: 10px 0px 0px 0px;  float: right;
}
.export-custom{width: 42% !important;}
#includeInactiveProducts,#includeInactiveVariants{width: 5%;}