/* Container for the entire homepage, takes full height */
.superadmin-main-container{
  display: flex;
  margin-top: 52px;
}

.superadmin-homepage-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Layout for the sidebar and content (side-by-side) */
.superadmin-layout {
  display: flex;
  flex-grow: 1;
}

/* Sidebar styles */
.superadmin-sidebar {
  width: 200px;
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  height: 100%; /* Make sure the sidebar takes full height */
  position: fixed; /* Fix the sidebar on the left */
}

.superadmin-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.superadmin-sidebar ul li {
  padding: 10px 0;
  cursor: pointer;
}

.superadmin-sidebar ul li:hover {
  background-color: #34495e;
}

/* Content styles */
.superadmin-content {
  margin-left: 200px; /* Prevent content from being hidden under the sidebar */
  padding: 20px;
  background-color: #ecf0f1;
  flex-grow: 1; /* Ensure content takes remaining space */
  height: 100%; /* Ensure content area takes full height of the container */
}

/* Ensure the header doesn't push content down */
.superadmin-content h1 {
  margin-top: 0;
}

/* Header styles, assuming it should be full-width at the top */
.superadmin-header {
  width: 100%;
  background-color: #34495e;
  color: white;
  padding: 20px;
  text-align: center;
}
.superadmin-right-container{
background-color: #f2f2f2;
  width: 100%;
  padding: 5px;
  height: calc(130vh - 46px);
    overflow: auto;
  margin-bottom: 23px;
}
.superadmin-sidebar-container{
  min-width: 208px;
    width: 10%;
}