body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: black;
}

.main-container {
  display: flex;
  margin-top: 52px; 
}

.sidebar-container{
  min-width: 208px;
  width: 10%;
}


.right-container {
  background-color: #f2f2f2;
  width: 100%;
  padding: 5px;
  min-height:100vh;
  /* height: calc(102vh - 46px); */
  overflow: auto;
  margin-bottom: 23px;
}

.button {
  background-color: #5a67d8; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 'background-color 0.3s ease';
}

.button:hover {
  background-color: #4c51bf; 
}

.card {
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 15px;
  transition: 'transform 0.3s ease';
}

.card:hover {
  transform: translateY(-5px);
}