/* src/components/CategoriesTable.css */

p{
  margin: 0;
  font-weight: 500;
}

table, th, td {
  border: 1px solid lightgray;
    border-collapse: collapse;
    text-align: left;
  min-width: 18px;
  padding: 5px 10px;
}

th{
  font-size: 16px;
    font-weight: 500;
}

td{
  font-size: 14px;
    font-weight: 400;
  
}

.action-buttons {
  display: none; 
  margin-left: 10px; 
}

tr:hover .action-buttons {
  display: inline; 
}

.action {
  margin-left: 5px; 
  cursor: pointer; 
  color: blue; 
}
.category_delete{
  text-align: right;
  cursor: pointer; 
}

.CategoryTable-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-addNewCategory button {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid lightgray;
}


.CategoryName{
  background-color: lightgray;
}
.CategoryMain {
  padding: 7px;
  min-height: 100vh;
}

.CategoryTable-header {
  margin-bottom: 10px;
}

.CategoryContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 10px;
  border-radius: 9px;
  align-content: center;
  flex-direction: column;
}

.DropdownsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    margin: 10px;
}

.DropdownColumn {
  flex: 1 1 calc(33.33% - 10px);
  box-sizing: border-box;
}

.DropdownColumn label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.DropdownColumn select {
  width: 100%; /* Full width for dropdowns */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.DropdownColumn select:focus {
  border-color: #007bff; /* Focus border color */
}

.CategoryContainerRight {
  flex: 1; /* Make sure this takes the remaining space */
  margin-left: 20px;
}

.CategoryContainerRight p {
  font-weight: bold;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  height: 200px;
  position: relative;
}

.popup-content, button {
  background: rgb(16 155 87);
  color: white;
  border: none;
  padding: 10px;
  width: 31%;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 5px;
}
.custom-dropdown { position: relative; cursor: pointer; border: 1px solid #ccc; padding: 2px; border-radius: 4px; margin: 8px; width: 295px;
} 

.selected-category {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 1000;
  max-height: 300px; /* Limit dropdown height */
  overflow-y: auto; /* Scroll if overflow */
}

.dropdown-option { cursor: pointer; display: flex; align-items: center; gap: 8px; padding: 2px; }

.dropdown-option:hover {
  background-color: #f0f0f0; }

.deleteButton { margin-left: 10px;  background-color: red; color: white; border: none; padding: 4px; border-radius: 4px; cursor: pointer; }

.deleteButton:hover { background-color: darkred; }
.editButton { margin-left: 10px;  background-color: rgb(28, 18, 230); color: white; border: none; padding: 5px; border-radius: 4px; cursor: pointer;
}

.editButton:hover { background-color: rgb(47, 158, 233);}
.btn_newcategory,.btn_new_section,.btn_producttype{ margin-left: 10px; background-color: rgb(15, 182, 84); color: white; border: none; padding: 5px; border-radius: 4px; cursor: pointer;}
.btn_newcategory:hover, .btn_new_section:hover,.btn_producttype:hover {background-color: rgb(158, 224, 108);}
.close_btn{ float: right;}
.dropdown-search-input{margin-left: 1px !important;}
.close-button { position: absolute; top: 10px;    right: 10px;  min-width: 30px;   padding: 5px 10px; font-size: 18px;   border-radius: 50%; background-color: transparent;  color: #6366f1;  border: none; cursor: pointer; transition: background-color 0.3s ease; width: 8%;}
.close-button:hover {  background-color: rgba(0, 0, 0, 0.1); }
.close-button .close-icon { font-weight: bold;}
.close-button:hover .close-icon {color: #ff0000; }
.add_category_input{ width: 96%; margin: 10px 0px 20px 0px !important;}
.suggestions-container { position: absolute; top: 100%; left: 0; right: 0; background-color: white; border: 1px solid #ddd; border-radius: 4px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); z-index: 1000; }
.suggestion-item { padding: 10px; cursor: pointer; font-size: 16px; background-color: #f9f9f9;}
.suggestion-item:nth-child(even) {  background-color: white;}
.suggestion-item:hover {  background-color: #f0f0f0;}
.swal2-container {  z-index: 1500 !important; }
.swal2-popup { z-index: 1501 !important; }
.clear_cat_btn{ background: rgb(145, 146, 146); color: white; border: none; cursor: pointer; margin: 0px 5px 0px 5px; border-radius: 5px; width: 10%; float: right; padding: 5px 5px 5px 5px;}
.search_prods_input{
  width: 100%; padding: 7px; font-size: 15px; border: 1px solid #ddd; border-radius: 4px; margin:6px 7px 6px 1px !important;
}