.unauthorized-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .unauthorized-image {
    max-width: 80%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .back-to-login-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0156B7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .back-to-login-button:hover {
    background-color: #013d7a;
  }
  