.header_cls{
  text-align: left;
}
.variant-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  padding: 0;
}

.variant-table th,
.variant-table td {
  padding: 12px; 
  text-align: left;
  border-bottom: 1px solid #ddd; 
}

.variant-table th {
  background-color: #f2f2f2; 
  font-weight: bold;
}

.variant-table tr:hover {
  background-color: #f5f5f5; 
}
.addvariant_btn{
  float: right ;
  padding: 9px 5px ;
  background-color: #007bff ;
  color: #fff ;
  border: none ;
  border-radius: 5px ;
  cursor: pointer ;
  margin: 10px 0px 10px 0px;
  width: 10%;
}

.variant-table th, .variant-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.variant-table td {
  vertical-align: top;
}

.variant-table button {
  transition: background-color 0.3s ease;
}

.variant-table button:hover {
  background-color: #0056b3;
}
.variant-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 16px;
}

.variant-option-table table, .variant-table table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.variant-option-table th, .variant-table th {
  text-align: left;
  padding: 10px;
  background-color: #f5f5f5;
}

.variant-option-table td, .variant-table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.option-value-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.option-value-item {
  padding: 3px 6px;
  background-color: #e0dede;
  border-radius: 12px;
}

.add-variant-value-button {
  background-color: rgb(16 155 87);;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  width: 12%;
  float: right;
  padding: 0px;
}

.swal-custom-confirm-variant {
  width: 40% !important;
}
.swal-custom-confirm-value{
  width: 100% !important;

}
.swal2-cancel {
width:47%;
}
.add-variant-value-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.variant_search{
  padding: 8px;
  margin : 0px !important;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 32%;
  background: lightgreen;
}
.variant-header{
  font-size: 16px;
  font-weight: 500;
}
.no-variants-message {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  margin-top: 20px;
  color: #555;
}
.option-category-list{list-style: inside;}
.variant-schema{padding: 7px;}