/* / src/components/ProductList.css / */
.product-list {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
}
.product-table {
width: 100%;
border-collapse: collapse;
margin-top: 20px;
}

.product-table th, .product-table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

.product-table th {
background-color: #f4f4f4;
}

.product-image {
max-width: 100px;
max-height: 100px;
margin-right: 10px;
}
.upload-container {
display: flex;
justify-content: flex-end;
margin-bottom: 20px;
align-items: center;

}

.upload-container input[type="file"] {
margin-right: 10px;
}

.upload-container .MuiIconButton-root {
margin-right: 10px;
}
.file-name {
margin-right: 10px;
font-size: 14px;
color: #555;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
max-width: 150px;
}
.product-image-round {
width: 40px;
height: 40px;
object-fit: cover;
border-radius: 50%;
margin-right: 10px;
display: inline-block;
vertical-align: middle;
}

.search-container {
display: flex;
justify-content: flex-end;
}

.search-input {
width: 40%;
padding: 8px;
font-size: 16px;
border-radius: 4px;
border: 1px solid #ccc;
}
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 0.9rem; /* Adjust font size to make the table more compact */
  text-align: left;
}

.product-table th,
.product-table td {
  padding: 8px 10px; /* Reduce padding for a more compact look */
  border: 1px solid #ddd;
}

.product-table thead th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.product-table tbody tr:hover {
  background-color: #f1f1f1;
}

.product-image-round {
  width: 40px; /* Smaller image size */
  height: 40px; /* Smaller image size */
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.product-name {
  font-weight: 500;
  color: #333;
}

.product-table input[type="checkbox"] {
  transform: scale(1.1); /* Adjust size of checkboxes */
}

.product-table tbody td {
  vertical-align: middle;
}

.checkbox-column {
  width: 40px; /* Fixed width for the checkbox column */
}

.product-column {
  width: 200px; /* Smaller width for the product column */
}

.manufacturer-column,
.tags-column,
.features-column,
.price-column {
  width: 120px; /* Adjust these as needed to make the table compact */
  text-align: center; /* Center align the text */
}
.others-column{
  text-align: center !important;}
.price-column {
  width: 80px; /* Smaller width for price column */
}
.product-cell{
  cursor: pointer;
}
.sort-container {
  display: flex;
  justify-content: flex-end;
}

.sort-dropdown {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.filter-dropdown{
  border: 1px solid #ccc;
    border-radius: 4px;
}
.variant_dropdown{
  margin: 8px 0px 7px 7px;
}
.filters-clear-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  margin: 8px 0px 8px 6px;
  width: 3%;
  float: left;
  padding: 6px 2px 6px 2px;
}
.half-width {
  width: 25%;
}

.half-width option {
  width: 400px !important;
}
.prev-button-plp, .next-button-plp {
  width: 20%;
}
.products-clear-btn{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s;
  margin: 8px 0px 8px 6px;
  width: 10%;
  padding: 6px 2px;
}
.taxonomy-select {
  margin-top: 5px;
  width: 80%;
  display: inline-block;
  font-size: 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.taxonomy-select option {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}
.includeInactiveProducts{
  width: 5%;
}