/* General container styling */
.product-detail { display: flex; flex-direction: column; padding: 2rem; font-family: Arial, sans-serif; background-color: #f5f7fa; align-items: flex-start;
}
.back-button { align-self: flex-start; padding: 10px 7px; background-color: #0056b3; color: white; border: none; border-radius: 4px; cursor: pointer; font-weight: bold; transition: background-color 0.2s ease; text-align: justify; width: 14%; float: left;
}
.back-button:hover { background-color: #3a81cd; color: rgb(182 181 181);
}
.section-buttons { display: flex; gap: 1rem; margin-bottom: 1.5rem; float: left; padding: 0px 0px 0px 10px;
}
.section-buttons button { display: block; padding: 10px 10px 11px 6px; background-color: #323335; color: white; border: none; border-radius: 4px; cursor: pointer; font-weight: bold; transition: background-color 0.2s ease; text-align: justify;
}
.section-buttons .variants { min-width: 22%;}
.section-buttons .productDetail { min-width: 18%;}
.section-buttons .taxonomy { min-width: 14%;}
.section-buttons .keyDetails { min-width: 15%;}
.section-buttons .pricing {min-width: 10%;}
.section-buttons .options {min-width: 12%;}
.section-buttons .rawData {min-width: 14%;}
.section-buttons button:hover {
  background-color: #706e6e94;
  color: black;
}
.section-buttons button.active {
  background-color: #706e6e94;
  color: black;
}

/* Product info sections */
.product-info-section,
.taxonomy-section,
.variant-section,
.pricing-section,
.other-details-section {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 20px 20px 20px;
}

/* .product-info-section h3, */
/* .variant-section h3, */
/* .taxonomy-section h3, */
/* .pricing-section h3,.other-details-section h3 {  font-size: 1rem;  margin-bottom: 1rem;  color: #333;  border-bottom: 2px solid #007bff;  padding-bottom: 8px;} */
.form-group .dimensions{ margin: 0px !important;}
.form-group {  display: flex;  flex-direction: column; }
.form-group label {  font-size: 14px;  color: #666;  margin-bottom: 3px;}
.form-group input {  padding: 10px;  font-size: 14px;  border: 1px solid #ddd;  border-radius: 4px;  margin: 4px !important;}
.variant-table {  width: 100%;  border-collapse: collapse;}
.variant-table th,.variant-table td {  padding: 12px;  border-bottom: 1px solid #ddd;  text-align: left;}
.variant-table th {  background-color: #007bff;  color: rgb(2, 2, 2);  font-weight: bold;}
.variant-table tr:hover { background-color: #f1f1f1;}
.save-button_pdp { padding: 12px 20px; background-color: #28a745; color: white; border: none; border-radius: 35px; cursor: pointer; font-size: 1rem; font-weight: bold; margin-top: 14px; transition: background-color 0.2s ease; width: 12%; float: right;}

.save-button_pdp:hover {  background-color: #218838;}
.swal-custom-confirm { width: 100% !important;}
.cls_addvariant { background: rgb(144 144 144); margin: 0; width: 15%;}
.select_pdp { margin: 2px;}
.input_pdp { margin: 4px 0px 4px 0px !important; width: 95% !important;}
.input_pdps {  margin: 0px !important;  width: 97% !important;}
input[type="number"] {  margin: 6px 10px 6px 10px !important;}
.css-1y6tzp0-MuiFormControl-root {  margin-top: 10px;  margin-bottom: 4px;}
.product-info-section {  display: flex;  gap: 20px;}
.product-image-section {  flex: 1;  max-width: 25%;}
.product-image { width: 100%; height: auto; object-fit: cover; border-radius: 8px; border: 1px solid #ccc;}
.product-detail-section { flex: 3;}
.form-group { margin-bottom: 15px; margin-top: 10px;}
.form-group label {  display: block;  font-weight: bold;  margin-bottom: 5px;}
.form-group input {  width: 100%;  padding: 8px;  font-size: 14px;  border: 1px solid #ccc;  border-radius: 4px;}
.product-image-section { display: flex; flex-direction: column; align-items: center; width: 100%; }
.main-product-image { width: 80%; margin-bottom: 10px;}
.product-image-large { width: 100%; height: auto; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);}
.product-thumbnail { width: 60px; height: 60px; object-fit: cover; border-radius: 4px; cursor: pointer; border: 2px solid transparent; transition: border-color 0.3s ease, transform 0.2s ease;}
.product-thumbnail:hover { border-color: #007bff; }
.active-thumbnail { border-color: #ff9900; }
.section_sidebar {  position: fixed;  width: 82%;  background: #f7f9f9;  padding: 11px 0px 0px 11px;}
.product-edit-form { margin-top: 37px; }
.categoryLevel { display: inline-block;  padding: 10px 18px; font-size: 11px;  font-family: 'Arial', sans-serif;  background: linear-gradient(135deg, #979591, #fcf6f6); color: #4e4c4c; border-radius: 20px;  margin: 10px 0 0 0px; font-weight: 600;  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  text-transform: capitalize; transition: all 0.3s ease; }
.clear_cat_btn_tax{  background: rgb(145, 146, 146);  color: white;  border: none;  width: 15%;  cursor: pointer;  margin: 11px 5px 10px 5px;  border-radius: 5px;  float: right;  font-size: 14px;}
.CategoryTable-header-edit { display: flex; justify-content: space-between; align-items: flex-start; border-bottom: 2px solid #007bff; margin-bottom: 15px; }
.thumbnail-container { display: flex; align-items: center; }
.thumbnail-scroll-btn { background-color: rgba(0, 0, 0, 0.6); color: white; border: none; width: 25px; height: 25px; border-radius: 50%; cursor: pointer; display: flex; justify-content: center; align-items: center; font-size: 12px; transition: background-color 0.3s ease; top: 55%; z-index: 2;}
.thumbnail-scroll-btn:hover { background-color: #bbb; }
.thumbnail-section {  justify-content: flex-start;  padding: 16px 8px 8px 8px;  display: flex;  overflow-x: scroll;  scroll-behavior: smooth;  gap: 10px;  width: 135px;   background: #fafafa;}
.thumbnail-section::-webkit-scrollbar { display: none;}
.prev-btn { left: -27px;}
.next-btn { right: -25px; }
.dropdown-options[aria-disabled="true"] { pointer-events: none; opacity: 0.6; }
.dropdown-disabled {  cursor: not-allowed; }
/* .dropdown-option-disabled { display: none;}
.dropdown-options-disabled{  display: none; } */
.css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root{ width: 99% !important;font-size: 12px !important;}
.css-1gp2w1d-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root{font-size: 7px !important;}
.css-1y6tzp0-MuiFormControl-root{padding: 0px 0px 0px 4px !important;width: 99% !important;}
#RetailPrice{width: 93% !important;margin: 6px 3px 6px 3px !important;font-size: 12px;padding: 13px;}
.custom-width{width: 275px !important;}
.pdp-variant-table{margin-top: 10px;}
.pdp-search{margin: 1px 0px 0px 0px; width: 92%;}
.dimensions-unit{margin-top: 0px !important;border-radius: 4px;border: 1px solid #ccc;}
.ql-editor {
  font-family: 'Verdana';
}
.dimension_text{font-family: 'Roboto', sans-serif;}
.variants-options{ display: flex; flex-direction: row; gap: 10px; }
.variants-dropdown {
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 2px;
    border-radius: 4px;
    margin: 8px;
    width: 105px;
}
.bg-blue-100 {
    background-color: #a8d2f7;
}
.bg-blue-100:hover {
    background-color: #73a5f1;
}
.float-right{
    float: right;}